@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;700&display=swap");

:root {
  --font-family: "Chakra Petch", sans-serif;
  --bg-color: #151515;
  --primary-color: #b4a5a5;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  font-family: var(--font-family);
}

h1 {
  font-size: 3em;
  font-weight: bold;
}
h2{
  font-size:4em;
  margin-top:150px;
}

h3 {
  font-size: 2em;
  margin-top: 110px;
}

.mensagem {
  font-size: 1.5em;
  margin-top: 50px;
}

.box {
  border: 2px solid var(--primary-color);
  display: inline-block;
  font-size: 3em;
  padding: 10px;
  margin: 20px;
}

.btn-jogar{
  padding:8px 25px;
  margin-top: 24px;
  border:none;
  font-weight: 600;
}
